*{
    margin: 0;
    padding:0;
}

$orange: #ff4500;

$white: #fff;

body{
    overflow-x: hidden;
    user-select: text;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border: none;
}

.header{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #F9F9F9;
    padding: 15px;
    flex-direction: row;
}

.header__mainlogo{
    width: 50px;
    height: auto;
}

.header__search{
    position: relative;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.header__search input{
    position: relative;
    padding-left: 10px;
    width: 80%;
    border-radius: 5px;
    border-color: $orange;
}


.header__search button{
    position: relative;
    top: 6px;
    height: 40px;
    width: 72px;
    border-radius: 5px;
    background-color: $orange;
    cursor: pointer;
    transition: background-color ease 250ms;
    margin-left: 10px;
}

.header__menu{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 8rem;
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 10%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.header__menu__item{
    position: relative;
    top: 10px;
    width: 72px;
    height: 40px;
    background-color: $orange;
    border-radius: 5px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: background-color ease 250ms;
}

.header__search button:hover{
    background-color: darken($orange, 10%);
}

.header__menu__item:hover{
    background-color: darken($orange, 10%);
}

.header__menu__item img{
    max-width: 100%;
    height: auto;
}


.login__form{
    position: relative;
    width: 20%;
    display: flex;
    background-color: darken(#F9F9F9, 2%);
    top: 7rem;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 16px;
    gap: 5px;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.login__form button{
    border-radius: 5px;
    background-color: $orange;
    cursor: pointer;
    transition: background-color ease 250ms;
    color: white;
    padding: 5px;
    margin-top: 2px;
}

.login__form button:hover{
    background-color: darken($orange, 10%);
}

.login__form input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.forgotpwd{
    font-size: 10px;
    color: gray;
}
