*{
    margin: 0;
    padding:0;
}

input[placeholder]{
    font-family:"GTEestiPro", arial, sans-serif;
}

body{
    font-family:math;
}

$orange: #ff4500;

button{
    border: none;
}

.header{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #F9F9F9;
    padding: 15px;
    flex-direction: row;
}

.header__mainlogo{
    width: 50px;
    height: auto;
}

.header__search{
    padding-left: 100px;
    padding-top: 5px;
    margin-right: 30px;
}

.header__search input{
    padding: 10px 500px 10px 10px;
    border-radius: 5px;
    border-color: $orange;
}


.header__search button{
    position: relative;
    top: 6px;
    height: 40px;
    width: 72px;
    border-radius: 5px;
    background-color: $orange;
    cursor: pointer;
}

.header__menu{
    display: flex;
    flex-direction: row;
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 10%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.header__menu__item{
    position: relative;
    top: 10px;
    width: 72px;
    height: 40px;
    background-color: $orange;
    border-radius: 5px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header__search button:hover{
    background-color: darken($orange, 10%);
}

.header__menu__item:hover{
    background-color: darken($orange, 10%);
}

.header__menu__item img{
    max-width: 100%;
    height: auto;
}
